.root {

  :global {
    .p-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
  }
  .card {
    .form {
      .userNameField {
        margin-top: 10px;
      }

      .passwordField {
        margin-top: 30px;
      }

      .submitWrapper {
        display: flex;
        justify-content: center;
      }

      .dividerHide{
        visibility: hidden;
      }
    }
  }
}

//media
@media (min-width: 960px) {
  .root {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      height: fit-content;
    }
  }
}

@media (max-width: 960px) {
  .root {
    width: 100%;
    height: 100vh;

    .card {
      height: 100vh;

      .userNameField, .passwordField {
        padding: 2rem 0;
      }
    }
  }
}
