.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
	.bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
  }
  .bgImageWrapper{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    .bgPortraitImage{
      object-fit: contain;
      width:auto;
      height: 100%;
      object-position: right;
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      width: 60px;
      height: 100%;
      z-index: 3;
      filter: blur(10px);
      background-image: url('../../public/images/home/bg_blur.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 400px) {
        width: 40px;
      }
    }
    @media (max-width: 375px) {
      .bgPortraitDesktop, .bgPortraitMobile{
        display: none;
      }
      .bgPortraitMobileSm{
        display: block;
      }
    }
    @media (min-width: 375px) and (max-width: 1100px) {
      .bgPortraitDesktop, .bgPortraitMobileSm{
        display: none;
      }
      .bgPortraitMobile{
        display: block;
        @media (max-width: 585px) {
          width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
        }
      }
    }
    @media (min-width: 1100px) {
      .bgPortraitDesktop{
        display: block;
      }
      .bgPortraitMobile, .bgPortraitMobileSm{
        display: none;
      }
    }
  
  }
}

.textWrapper {
  position: absolute;
  top: 20%;
  left: 20%;
//  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  text-align: left;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
  }
  
  .subtitle {
    font-size: 1.3rem;
    line-height: 1.6;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Georgia', serif;
    max-width: 450px;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//@keyframes fadeIn {
//  0% {
//    opacity: 0;
//    transform: translateY(40px) scale(0.95);
//  }
//  100% {
//    opacity: 1;
//    transform: translateY(0) scale(1);
//  }
//}
