$font-alex-brush: var(--font-alex-brush);
$white:#F5F5F5;
$yellow: rgb(251, 244, 227);
.main {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	
	.bg {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
	
	.bgImageWrapper {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		
		.bgPortraitImage {
			object-fit: contain;
			width: auto;
			height: 100%;
			object-position: right;
		}
		
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -30px;
			width: 60px;
			height: 100%;
			z-index: 3;
			filter: blur(10px);
			background-image: url('../../public/images/home/bg_blur.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			@media (max-width: 400px) {
				width: 40px;
			}
		}
		
		@media (max-width: 375px) {
			.bgPortraitDesktop, .bgPortraitMobile {
				display: none;
			}
			.bgPortraitMobileSm {
				display: block;
			}
		}
		@media (min-width: 375px) and (max-width: 1100px) {
			.bgPortraitDesktop, .bgPortraitMobileSm {
				display: none;
			}
			.bgPortraitMobile {
				display: block;
				@media (max-width: 585px) {
					width: 100%;
					aspect-ratio: 16 / 9;
					object-fit: cover;
				}
			}
		}
		@media (min-width: 1100px) {
			.bgPortraitDesktop {
				display: block;
			}
			.bgPortraitMobile, .bgPortraitMobileSm {
				display: none;
			}
		}
		
	}
}

// text woth effect: variant 1
//.textWrapper {
//	position: absolute;
//	top: 15%;
//	left: 15%;
//	z-index: 10;
//	text-align: left;
//	opacity: 0;
//	animation: fadeIn 1.5s ease-in-out forwards;
//  background-color: rgba( 5, 5, 5, 0.6);
//  padding: 30px;
//	.innerTextWrapper {
//		h1, h2 {
//			margin: 0;
//		}
//
//		font-size: 1.4rem;
//		line-height: 1.6;
//		font-family: 'Georgia', serif;
//		color: #ffffff;
//		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
//    span{
//      font-style: italic;
//    }
//	}
//}
//
//
//@keyframes fadeIn {
//	0% {
//		opacity: 0;
//		transform: translateY(-20px);
//	}
//	100% {
//		opacity: 1;
//		transform: translateY(0);
//	}
//}

// text woth effect: variant 2
.textWrapper {
	position: absolute;
	top: 15%;
	left: 10%;
	z-index: 10;
	text-align: left;
	opacity: 0;
	animation: fadeIn 2s ease-in-out forwards, slideIn 2s ease-in-out forwards;
	padding: 40px 50px;
	border-radius: 10px;
	line-height: 1.6;
	
	.innerTextWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	
		.line1, .line3 {
			font-family: 'Times New Roman', serif;
		}
		.line1{
			font-size: 3rem;
		}
		.line3{
			font-size: 2.5rem;
		}
	
		.line1,.line2{
			color: $white;
		}
		.line1{
			font-weight: 600;
		}
		h1, h2 {
			text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
			margin: 0;
		}
		.line3{
			color:$yellow;
			font-weight: 400;
		}
		.line2Wrapper{
			display: flex;
			align-items: flex-end;
			.wingLeft, .wingRight{
				width: 5rem;
				height: 5rem;
			}
			.wingLeft{
			
			}
			.line2{
				font-family: $font-alex-brush;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				font-size: 3rem;
				margin: 0 8px 0 5px;
			}
			.wingRight{
			
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}


//.textWrapper {
//	position: absolute;
//	top: 15%;
//	left: 15%;
//	z-index: 10;
//	text-align: left;
//	opacity: 0;
//	animation: fadeIn 1.5s ease-in-out forwards;
//  padding: 30px;
//	.innerTextWrapper {
//		h1, h2 {
//			margin: 0;
//		}
//
//		font-size: 1.4rem;
//		line-height: 1.6;
//		font-family: 'Georgia', serif;
//		color: #ffffff;
//		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
//    span{
//      font-style: italic;
//    }
//	}
//}
//
//
//@keyframes fadeIn {
//	0% {
//		opacity: 0;
//		transform: translateY(-20px);
//	}
//	100% {
//		opacity: 1;
//		transform: translateY(0);
//	}
//}