.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  .navbar{
    position: relative;
    z-index: 3;
  }
  .scrollBar{
    height: 100vh;
    :global{
      .p-scrollpanel-content{
        display: flex;
      }
    }
    .main{
//      flex-grow: 1;
      width:100%;
    }
  }
}

