$font-alex-brush: var(--font-alex-brush);
$white: #F5F5F5;
$yellow: rgb(251, 244, 227);
// min-574px text
$font-text-1: clamp(2.2rem, 3vw, 3.2rem);
$font-text-2: clamp(1.8rem, 2.5vw, 2.5rem);
$font-text-3: clamp(2rem, 2.5vw, 3rem);
//
$wings-height: clamp(3.5rem, 5vw, 5.8rem);
$wings-width: clamp(3.5rem, 4vw, 5.8rem);
.main {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	overflow: hidden!important;
	
	.bgOfPortrait {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
	
	.bgImageWrapper {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		
		.bgPortrait {
			object-fit: contain;
			width: auto;
			height: 100%;
			object-position: right;
		}
		
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -30px;
			width: 60px;
			height: 100%;
			z-index: 3;
			filter: blur(10px);
			background-image: url('../../../public/images/home/bgOfPortraitBlur.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			@media (max-width: 400px) {
				width: 40px;
			}
		}

		.bgPortraitMobileSm, .bgPortraitMobileMd, .bgPortraitDesktop, .bgPortraitMobileXl, , .bgPortraitMobileLg {
			display: none;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		
		@media (min-height: 858px) {
			.bgPortraitMobileSm, .bgPortraitMobileXl, .bgPortraitDesktop, .bgPortraitMobileLg {
				display: none !important;
			}
			.bgPortraitMobileMd {
				display: block !important;
			}
		}
		
		@media (max-width: 398px) {
			.bgPortraitMobileSm {
				display: block;
			}
		}
		@media (min-width: 330px) and (max-width: 398px) {
			.bgPortraitMobileXl {
				display: block;
			}
		}
		
		@media (min-width: 398px) and (max-width: 784px) {
			.bgPortraitMobileMd {
				display: block!important;
			}
		}
		@media (min-width: 784px) and (max-width: 1199px) {
			.bgPortraitMobileLg {
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}
		@media (min-width: 1199px) {
			.bgPortraitDesktop {
				display: block;
			}
		}
	}
	
	.textWrapper {
		top: 0;
		position: absolute;
		z-index: 10;
		
		.innerTextWrapper {
			display: grid;
			white-space: nowrap;
			
			.line1, .line3 {
				font-family: 'Times New Roman', serif;
			}
			
			.line1, .line2, .line3 {
				text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
				margin: 0;
			}
			
			.line3 {
				color: $yellow;
				font-weight: 400;
			}
			
			.line1And2And3Wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				gap: 1.2rem;
				
				.line1 {
					font-weight: 450;
				}
				
				.line1, .line2 {
					color: $white;
					margin: 0;
				}
				
				.line2Wrapper {
					position: relative;
					min-height: 5rem;
					width: 100%;
					display: flex;
					justify-content: center;
					
					.line2WrapperAbsolute {
						top: -0.5rem;
						
						height: 100%;
						display: flex;
						position: absolute;
						align-items: flex-end;
						@media (max-width: 574px) {
							top: -2rem;
						}
						.wingLeft, .wingRight {
							width: $wings-width;
							height: $wings-height;
						}
						
						.line2 {
							font-family: $font-alex-brush;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							margin: 0 8px 0 5px;
						}
					}
				}
			}
		}
		.textJustifyWrapper {
			opacity: 0;
			animation: fadeIn 2s ease-in-out forwards, slideIn 2s ease-in-out forwards;
			width: fit-content;
			height: fit-content;
		}
		@media (min-width: 785px) and (not (min-height: 858px)){
			width: 100%;
			.textJustifyWrapper {
				margin-left: 8vw;
				margin-top: 8vw;
			}
		}
		@media (max-width: 1199px) {
			top: calc(50vh - var(--ios-bottom-padding, 0px));
			padding: 25px 0;
			background-color: rgba(0, 0, 0, 0.5);
			width: 100%;
			.innerTextWrapper {
				align-items: center;
			}
			.textJustifyWrapper {
				justify-self: center;
			}
		}
		@media (min-height: 858px) {
			top: 60vh;
		}
		@media (min-width: 1199px) {
			left: 5vw;
			top: 10vh;
		}
		@media (min-width: 574px) {
			align-items: center;
			.line1 {
				font-size: $font-text-1;
			}
			.line3 {
				font-size: $font-text-2;
			}
			.line2 {
				font-size: $font-text-3;
			}
		}
		@media (min-width: 378px) and (max-width: 574px) {
			align-items: center;
			.line1 {
				font-size: calc(#{$font-text-1} - 0.6rem)
			}
			
			.line2 {
				font-size: calc(#{$font-text-2} - 0.6rem)
			}
			
			.line3 {
				font-size: calc(#{$font-text-3} - 0.6rem)
			}
			
		}
		
		@media (max-width: 378px) {
			width: 100%;
			.line1 {
				font-size: calc(#{$font-text-1} - 0.8rem)
			}
			
			.line2 {
				font-size: calc(#{$font-text-2} - 0.8rem)
			}
			
			.line3 {
				font-size: calc(#{$font-text-3} - 0.8rem)
			}
		}
		@media (min-height: 858px) and (min-width: 830px) {
			.line1 {
				font-size: calc(#{$font-text-1} + 1rem)
			}
			
			.line2 {
				font-size: calc(#{$font-text-2} + 1rem)
			}
			
			.line3 {
				font-size: calc(#{$font-text-3} + 1rem)
			}
		}
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}