.navBarLogo{
	.text{
		color: #000;
		font-size: 33px;
		font-weight: 500;
		font: 500 44.1028px / 42.75px;
		font-family: var(--font-josefin-sans);
		letter-spacing: 2px;
		line-height: 0.969327em;
		text-align: center;
		text-transform: uppercase;
	}
}