$font-text: var(--font-josefin-sans);
.navBarLogo{
	.text{
		color: #000;
		font-size: 33px;
		font-weight: 500;
		font-family: $font-text;
		letter-spacing: 2px;
		line-height: 0.969327em;
		text-align: center;
		text-transform: uppercase;
	}
}