$font-text: var(--font-hedvig-letters-serif);
$font-title: var(--font-baskerville);
$font-text-size: clamp(1.1rem, 1vw, 1.4rem);
$font-line-height: 1.5;
$bg-bio-color:#DBDFE0;
$bg-sec-color:#F0EEEC;
.root {
//	height: 100%;
//	font-family: $font-text;
//
//	.biographyContainer {
//		width: 100%;
//		display: grid;
//		grid-template:
//			'imageContainer biographyContent'
//			'bioRolesOfOpera .' / auto;
//		grid-template-rows: auto;
//		padding: 2rem;
//		gap: 0 2%;
//		justify-content: space-evenly;
//	}
	p{
		font-family: $font-text;
		font-size: $font-text-size;
		line-height: $font-line-height;
		letter-spacing: 3px;
		font-weight: 500;
	}
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $bg-bio-color;
	.bioSection1{
		background-color: $bg-sec-color;
		display: flex;
		padding: 44px 74px 44px 44px;
		justify-content: center;
		align-items: center;
		gap: 100px;
		border-radius: 15px;
		.bioSection1Img{
			position: relative;
			width: 486px;
			height: 750px;
		}
		.bioSection1Text{
			display: flex;
			width: 50%;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}
	@media (min-width: 1040px) {
		padding: 80px 120px 150px 120px
	}
	
	@media (max-width: 1040px) {
	
	}
	
	@media (max-width: 380px) {
	
	}
	
	@media (max-width: 460px) {
	
	}
}

// media

