@use "@/app/shareableStyles/colors.scss" as colors;

$font-text: var(--font-josefin-sans);
$font-size-artist-name: clamp(23px, 5vw, 33px);
@mixin ArtistNameText {
	color: #000;
	font-size: 33px;
	font-weight: 500;
	font-family: $font-text;
	letter-spacing: 2px;
	line-height: 0.969327em;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: 600px) {
		&:hover {
			color: rgb(236, 199, 145);
			cursor: pointer;
		}
	}
}

.root {
	position: relative;
	height: 102.8px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #{colors.$bg-color-navbar};
	
	.navBar {
		z-index: 3;
	}
	
	@media (max-width: 960px) {
		.navBarArtistNameMobile {
			display: block;
			@include ArtistNameText;
			position: absolute;
			text-align: center;
			width: 100%;
			z-index: 1;
		}
	}
	@media (min-width: 600px) and (max-width: 767px) {
		.navBarArtistNameMobile {
			top: 2.2rem;
		}
	}
	@media (min-width: 767px) and (max-width: 960px) {
		.navBarArtistNameMobile {
			top: 40px;
		}
	}
	@media (max-width: 600px) {
		.navBarArtistNameMobile {
			font-size: $font-size-artist-name;
		}
	}
	@media (min-width: 767px) {
		padding-top: 10px;
		min-height: 40px;
	}
	
	.navBarArtistNameDesktop {
		text-decoration: none;
		.text {
			@include ArtistNameText;
		}
	}
	@media (max-width: 960px) {
		.navBarArtistNameDesktop {
			display: none;
		}
	}
	@media (max-width: 348px) {
		.navBarArtistNameMobile{
			display: none;
		}
	}
	// global styles
	:global(.p-menubar) {
		border: none;
		padding: 0;
		position: relative;
	}
	
	@media (max-width: 960px) {
		:global(.p-menubar a) {
			z-index: 5;
			margin-left: clamp(10px, 2vw, 20px);
		}
		:global(.p-menubar .p-icon) {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	
	@media screen and (max-width: 960px) {
		:global(.p-menubar .p-menubar-button:focus),
		:global(.p-menubar-button:hover) {
			box-shadow: none;
			background-color: #{colors.$bg-color-navbar};
		}
	}
	
	:global(.p-menubar) {
		border-radius: unset;
	}
	
	:global(.p-submenu-list) {
		padding: 0;
	}
	
	:global(.photo-link) {
		margin-top: 3px;
	}
	
	:global(.p-menuitem-content),
	:global(.p-menuitem-link:active),
	:global(.p-menuitem-link:focus-visible) {
		background-color: transparent !important;
		border: none !important;
		color: inherit !important;
		box-shadow: none !important;
	}
	
	:global(.p-menubar-root-list) {
		width: 100%;
		justify-content: space-around;
	}
	
	:global(.p-menuitem-link) {
		color: #4b5563;
		transition: color 0.15s ease-in-out;
		font-weight: 400;
	}
	:global(.p-menuitem-link:hover) {
		color: rgb(236, 199, 145);
	}
	
	@media (min-width: 1199px) {
		:global(.sub-route-link:hover) {
			background-color: rgb(229, 231, 235);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}
		:global(.active-route) {
			transition: color 0.15s ease-in-out;
			font-weight: 400;
			color: rgb(236, 199, 145);
		}
		:global(.active-route .p-menuitem-text) {
			color: rgb(236, 199, 145);
		}
		:global(ul) {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			line-height: 1.2;
		}
		:global(ul li) {
			list-style: none;
		}
		:global(ul li a) {
			box-sizing: border-box;
			background-color: transparent;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: 400;
			color: rgb(255, 255, 255);
		}
	}
	
	@media (max-width: 1199px) {
		:global(.p-submenu-list) {
			margin-left: 1em;
		}
	}
}

// media route styles
.mediaRoutes {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
