@use "@/app/shareableStyles/colors.scss" as colors;

.root {
	height: 102.8px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #{colors.$bg-color-navbar};
	
	:global {
		.p-menubar {
			border: none;
			padding: 0;
			@media (max-width: 960px) {
				&:after{
					''
				}
			}
		}
		
		.p-menubar .p-menubar-button:focus, .p-menubar-button:hover {
			box-shadow: none;
			@media screen and (max-width: 960px) {
				background-color: #{colors.$bg-color-navbar};
			}
		}
		
		.p-menubar {
			border-radius: unset;
		}
		
		.p-submenu-list {
			padding: 0;
		}
		
		.photo-link {
			margin-top: 3px;
		}
		
		.p-menuitem-content,
		.p-menuitem-link:active,
		.p-menuitem-link:focus-visible {
			background-color: transparent !important;
			border: none !important;
			color: inherit !important;
			box-shadow: none !important;
		}
		
		.p-menubar-root-list {
			width: 100%;
			justify-content: space-around;
		}
		
		.p-menuitem-link {
			color: #4b5563;
			transition: color 0.15s ease-in-out;
			font-weight: 400;
			
			&:hover {
				color: rgb(236, 199, 145);
			}
		}
		
		@media (min-width: 1199px) {
			.sub-route-link {
				&:hover {
					background-color: rgb(229, 231, 235);
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
				}
			}
			
			.active-route {
				transition: color 0.15s ease-in-out;
				font-weight: 400;
				color: rgb(236, 199, 145);
				
				.p-menuitem-text {
					color: rgb(236, 199, 145);
				}
			}
			ul {
				padding: 0;
				margin: 0;
				display: flex;
				justify-content: space-between;
				font-size: 14px;
				line-height: 1.2;
				
				li {
					list-style: none;
					
					a {
						box-sizing: border-box;
						background-color: transparent;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 3px;
						font-weight: 400;
						color: rgb(255, 255, 255);
					}
				}
			}
		}
		@media (max-width: 1199px) {
//			.logo {
//				display: none;
//			}
			.p-submenu-list {
				margin-left: 1em;
			}
		}
		
		@media (max-width: 767px) {
			.nav-bar-skeleton-title, .nav-bar-skeleton {
				display: none;
			}
		}
	}
	
	.socialLinksSkeleton {
		display: flex;
		justify-content: center;
		@media (max-width: 767px) {
			display: none;
		}
	}
}


@media (min-width: 767px) {
	.root {
		padding-top:10px;
	}
	.navMenuWrapper {
		min-height: 40px;
	}
	.skeletonSOcialLinksWrapper{
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
}


$font-text: var(--font-josefin-sans);
.navBarArtistName{
	.text{
		color: #000;
		font-size: 33px;
		font-weight: 500;
		font-family: $font-text;
		letter-spacing: 2px;
		line-height: 0.969327em;
		text-align: center;
		text-transform: uppercase;
	}
}