@use "@/app/shareableStyles/colors.scss" as colors;
.carouselContainer {
	@include colors.bg-gradient();
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	.elementsWrapper{
		position: relative;
		width: 100%;
		display: flex;
		height: 100%;
		.buttonWrapper{
			display: flex;
			justify-content: center;
			align-items: center;
			.button {
				width: 2rem;
				height: 2rem;
				border: 0 none;
				background: transparent;
				border-radius: 50%;
				transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
				flex-grow: 0;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				position: relative;
				.icon {
					color:rgb(107, 114, 128);
				}
				&:hover:not(.buttonDisabled) {
					color: #374151;
					border-color: transparent;
					background-color: #dddcdc;
					cursor: pointer;
					.icon {
						color: rgb(55, 65, 81);
					}
				}
			}
			@media (max-width: 768px) {
				display: none;
			}
			.buttonDisabled{
				.icon{
					color:rgb(107, 114, 128, 0.5);
				}
			}
			&.prevButton {
				padding: 0 0.5rem;
			}
			&.nextButton {
				padding:0 1.5rem 0 0.5rem;
			}
		}
		.carouselItemsWrapper {
			display: flex;
			width: 95%;
			align-items: center;
			@media (min-width: 768px) {
				overflow: hidden;
			}
			.carouselItem {
				flex: 0 0 35%;
				transition: transform 0.5s ease;
				position: relative;
				height: 25vmax;
				margin: 0 5px;
				@media (max-width: 768px) {
					width: 90%;
					margin: 10px 0;
					height: auto;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
		@media (max-width: 768px) {
			height: calc(100svmax - var(--navbar-height))!important;
			.carouselItemsWrapper {
				flex-direction: column;
				overflow-y: auto;
				height: 100%;
				align-items: center;
			}
			margin-bottom: 10px;
		}
	}
	.carouselIndicators{
		width: 100%;
		ul{
			padding: 1rem;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			margin: 0;
			border: 0;
			outline: 0;
			text-decoration: none;
			font-size: 100%;
			list-style: none;
			li{
				box-sizing: border-box;
				margin-right: 0.5rem;
				margin-bottom: 0.5rem;
				font-size: 100%;
				list-style: none;
				button{
					background-color: #d1d5db;
					width: 2.5rem;
					height: 0.7rem;
					transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
					font-size: 1rem;
					border: none;
					cursor: pointer;
					&:focus-visible {
						outline: 0 none;
						outline-offset: 0;
						box-shadow: 0 0 0 0.2rem rgba(244, 114, 182, 0.2);
					}
					span{
						height: 32px;
						width: 32px;
						display: block;
						position: absolute;
						background: rgba(255, 255, 255, 0.5);
						border-radius: 100%;
						transform: scale(0);
					}
					&:hover{
						background-color: #9ca3af;
					}
				}
				.active{
					color: #0e7490;
					background-color: #06b6d4;
				}
				.inactive{
					background-color: #d1d5db;
				}
			}
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}