@use "@/app/shareableStyles/colors" as colors;

.socialNavLinks {
	background-color: var(--foreground-rgb) !important;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 5px 0 10px 0;
	
	:global {
		a {
			color: #000;
			transition: color 0.3s ease;
		}
	}
	
	.facebookLink:hover {
		color: #0866FF;
	}
	
	.instagramLink:hover {
		color: #FD3F26;
	}
	
	.youtubeLink:hover {
		color: #FF0000;
	}
	
	.appleLink:hover {
		color: #F32239;
	}
	
	.spotifyLink:hover {
		color: #1ED760;
	}
	
	.musixmatchLink:hover {
		color: rgb(255, 96, 80);
		fill: rgb(255, 96, 80);
	}
	
	.musixmatchLink {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;

		img {
			transition: all 0.4s ease-in-out;
			filter: grayscale(100%) brightness(0) invert(0);
		}

		&:hover img {
			filter: invert(51%) sepia(90%) saturate(747%) hue-rotate(340deg) brightness(95%) contrast(100%);
			transform: scale(1.1);
		}
	}
	
	@media (max-width: 1199px) {
		display: none;
	}
	
	.icon {
		width: 20px;
		height: 20px;
	}
}