@use "@/app/shareableStyles/colors.scss" as colors;
.photo {
	display: flex;
	justify-content: center;
	padding-top: 0;
	height: 100%;
	.sekeltonItemWrapper{
		padding: 10px;
	}
	.skeletonWrapper {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100vw;
		position: relative;
		@include colors.bg-gradient();
	}
	:global{
		.mediaPhotoCreditTo{
			$relative-margin: 0.5rem;
			font-size: 12px;
			margin-top: 10px;
			position: absolute;
			top: 2px;
			right: calc(2px + #{$relative-margin});
		}
	}
	.carouselWrapper {
		display: flex;
		justify-content: center;
		.itemTemplate {
			margin: 0 0.5rem;
			text-align: center;
			.thumbnailImage {
				position: relative;
				border-radius: 6px;
				:global {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.p-image-preview-icon {
						position: absolute !important;
						top: 50% !important;
					}
					.p-image-preview-container {
						position: unset !important;
					}
				}
			}
	
		}
	}
}

.carouselWrapper {
	height: 100%;
	:global {
		.p-carousel-content {
			height: 100%;
			justify-content: center;
			@include colors.bg-gradient();
			.p-carousel-container {
				@media (min-height: 1200px) {
					height: 90%;
					.p-carousel-items-container {
						height: 100%;
						.p-carousel-item {
							display: flex;
							align-items: center;
							overflow: visible !important;
						}
					}
					.p-carousel-item{
						align-items: flex-start;
					}
				}
				@media(min-width: 571px) {
					padding-right: 20px;
					.p-carousel-items-container {
						display: flex!important;
						flex-direction: row!important;
					}
				}
			}
			@media (min-width: 768px) {
				padding-left: 18px;
			}
			@media (max-width: 768px) {
				padding-right: 18px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.carouselWrapper {
		.itemTemplate {
			height: fit-content;
			max-height: unset;
			.thumbnailImage {
				max-height: 100% !important;
				:global {
					.p-image-preview-container {
						display: flex;
						img {
							height: 100%;
							max-height: unset !important;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.itemTemplate {
		margin-top: 30px !important;
	}
}
