.root {
	overflow: hidden;
	.scrollPanel {
		width: 100%;
		height: 100%;
		:global {
			.p-scrollpanel-bar {
				background-color: rgb(51, 51, 51);
			}
			div[aria-orientation="horizontal"] {
				display: none;
			}
			.p-scrollpanel-content{
				padding: 0;
			}
		}
	}
}
