.root {
	overflow: hidden;
	.scrollPanel {
		width: 100%;
	}
	:global(.p-scrollpanel-bar) {
		background-color: rgb(51, 51, 51);
	}
	:global(div[aria-orientation="horizontal"]) {
		display: none;
	}
	:global(.p-scrollpanel-content) {
		padding: 0;
	}
}